# Plantilla — ejecutar: ./scripts/provision_sns_sqs.sh
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:cashback-ingestion
SNS_TOPIC_NAME=cashback-ingestion
SQS_QR_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/cashback-qr-processor
SQS_TRANSFERS_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/cashback-transfers-processor
